@import "tailwindcss";

/* Estilos globais do Vizzutemas */
html, body, #__next {
  height: 100%;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
